.about-sec {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 100px;
  padding-top: 9.5rem;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  background-color: transparent;
  padding: 20px;
  border: 1.5px solid white;
  color: white;
  width: 50vw;
  min-height: 65vh;
  font-family: "Ubuntu Mono", monospace;
  font-size: calc(0.3rem + 1vw);
  font-style: italic;
  font-weight: 400;
  letter-spacing: 2px;
  backdrop-filter: blur(4px);
}
@keyframes float {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(15px) translateX(15px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.about-img {
  position: absolute;
  top: 18%;
  right: 5%;
  width: 20vw;
  animation: float 4s ease infinite;
}
.about-img > img {
  width: 90%;
  height: auto;
}
