.main-container {
  height: 100%;
  position: relative;
}
.blog {
  position: absolute;
  top: 40%;
  right: 0;
  transform: rotate(90deg) translate(-50%, -50%);
  z-index: 1;
}
.work {
  position: absolute;
  top: 40%;
  left: 0;
  margin-top: -20px;
  transform: rotate(270deg) translate(-50%, -50%);
  z-index: 1;
}
.BottomNav {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
}
.lightdiv {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  right: 50%;
}
