.blog-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  padding-top: 10rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(10rem + 15vw), 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: calc(1rem + 2vw);
  z-index: 3;
}
