.skills-card {
  backdrop-filter: blur(4px);
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  padding: 20px 20px 20px 25px;
  font-family: "Ubuntu Mono", monospace;
  letter-spacing: 2px;
}
.skills-card:hover {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3)
  );
}
.card-title {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 29px;
  margin: 0 auto 15px;
  font-weight: 700;
}
/* .card-title:hover {
  color: black;
} */
.skills-dis {
  color: white;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
}
/* .skills-dis:hover {
  color: black;
} */
.skills-title {
  color: white;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 22px;
}
/* .skills-title:hover {
  color: black;
} */
.skills {
  color: aqua;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
}
.tools-title {
  color: white;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
}
/* .tools-title:hover {
  color: black;
} */
.tools {
  color: aqua;
  font-size: 18px;
  font-weight: 400;
}
