.text-area {
  display: flex;
  flex-direction: column;
}
.text-area span {
  overflow: hidden;
}
.text-area h1 {
  font-family: "panchang", sans-serif;
  font-size: 110px;
  line-height: 7.5rem;
  font-weight: 700;
}
