.work-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  height: 40vh;
  padding: 1.5rem 2rem;
  margin-right: 8rem;
  background-color: #edeef5;
  cursor: pointer;
  border-radius: 0 50px 0 50px;
  transition: all 0.2s ease;
}
.work-title {
  color: black;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;
}
.work-des {
  color: black;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 12px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.visit-btn {
  background-color: black;
  padding: 8px 30px 8px 60px;
  width: 20%;
  border-radius: 0 0 0 50px;
  font-size: 22px;
  text-decoration: none;
  color: white;
}
.tags {
  margin-top: 5px;
  color: #0006ba;
  margin-bottom: 18px;
  font-size: calc(0.8em + 0.3vw);
  font-weight: 400;
  border-top: 2px solid black;
  padding-top: 12px;
}
