.contact {
  display: inline-block;
  color: white;
  position: fixed;
  font-size: calc(1em + 0.3vw);
  font-weight: normal;
  font-style: normal;
  top: 2rem;
  cursor: pointer;
  right: 6vw;
  z-index: 3;
  text-decoration: none;
}
