.container {
  margin: 0;
  padding: 0 9%;
  background-color: #000124;
  height: 100vh;
}
.home-container {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  height: 100vh;
}
.hello-contain > span {
  font-size: 150px;
  color: white;
  font-weight: bold;
}
.hello-contain {
  margin-bottom: -300px;
}
