.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 34px;
}

/* 
!gradient is not working for some reason.
# color: linear-gradient(90deg, #00f5a0, #00d9f5); 
.nav-link:hover {
   here => color: #00d9f5;
}
*/
