.icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 39%;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.line {
  width: 2px;
  height: 40%;
}
